@tailwind base;
@tailwind components;
@tailwind utilities;

.font-mono {
  font-family: 'IBM Plex Mono', serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.carousel-container {
  width: 400px; /* Adjust as needed */
}

/* Adjust width for large screens (lg) */
@media (min-width: 992px) {
  .carousel-container {
    width: 700px; /* Adjust as needed */
  }
}

.icon {
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.card {
  width: 100px;
  height: 100px;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card > .icon {
  color: #fff;
  font-size: 3.5rem;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-icon {
  margin-top: 48px;
  margin-bottom: 10px;
  font-size: 72px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out; /* Add a zoom transition effect */
}

.skill-icon:hover {
  transform: scale(1.1); /* Zoom in slightly on hover */
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center text horizontally */
  justify-content: center; /* Center text vertically */
  text-align: center; /* Center text horizontally */
  margin: 10px;
}

.icon-text {
  margin-top: 0px; 
  font-size: 16px; 
  color: white; 
  font-style: bold;
}

.paragraph {
  display: flex;
  flex-direction: column;
}

.paragraph p {
  border-left: 2px solid #fff ; /* Adjust the style as needed */
  padding-left: 20px; /* Add padding for the separator */
}

.proj-icon {
  font-size: 36px; /* Add a zoom transition effect */
}

.social-icons {
    font-size: 25px;
    color: #333333;
    transition: transform 0.2s; 
    cursor: pointer; /* Add a zoom transition effect */
}

.social-icons:hover {
  transform: scale(1.5); /* Zoom in slightly on hover */
}

.view-projects {
  transition: transform 0.2s;
  cursor: pointer;
}
.view-projects:hover {
  transform: scale(1.1); /* Zoom in slightly on hover */
}
